@using ShomaRM.Areas.Tenant.Models
@model GuestRegistrationModel
@{
    ViewBag.Title = "Guest Approval";
}

<input type="hidden" id="hndPID" value="0" />
<input type="hidden" id="hndIDNumber" value="" />
<input type="hidden" id="hndSSNNumber" value="" />
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container" style="width:100%!important">

        <div class="wizard-container">
            <div class="wizard-card ct-wizard-orange" id="wizardProperty">
               
                    <div class="wizard-header">
                        <h3>
                            <b>Online  </b>Application Verification <br>
                        </h3>
                        <div class="button pull-right">

                            <a href="javascript:void(0)" class="btn-success" style="padding:5px" onclick="gotoList()"> Prospect List</a>

                        </div>

                    </div>

                   
             


            </div>
        </div>

    </div>

</div>
</div>



<style>
    /* The container */
    input.disabled {
        pointer-events: none;
        cursor: default;
        color: #B4ADA5;
    }
    .containerLabel {
        display: block;
        position: relative;
        padding-left: 35px !important;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .containerLabel input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        /*background-color: #4D738A !important;*/
        border: 2px solid #4D738A !important;
    }

    /* On mouse-over, add a grey background color */
    .containerLabel:hover input ~ .checkmark {
        background-color: #fff !important;
    }

    /* When the checkbox is checked, add a blue background */
    .containerLabel input:checked ~ .checkmark {
        background-color: #4D738A !important;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .containerLabel input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .containerLabel .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>


<script>
    function printFloorPlanDetails(divName) {
        let printContents, popupWin;
        printContents = document.getElementById(divName).innerHTML;
        popupWin = window.open('', '', 'width=950,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');
        popupWin.document.open();
        popupWin.document.write(printContents);
        popupWin.window.print();
        popupWin.document.close();
    }
    function print(divName) {
        let printContents, popupWin;
        printContents = document.getElementById(divName).innerHTML;
        popupWin = window.open('', '', 'width=950,height=800,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');
        popupWin.document.open();
        popupWin.document.write(`
          <html >
            <head>
            <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.css" >
            <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="/Content/assets/css/wizard.css" >
            <link rel="stylesheet" href="/Content/assets/css/style.css">
            </head>
            <style>
    hr {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border: 0;
        border-top: 1px solid #bebdbd;
    }
    body { font-size: 12px;line-height: 20px; margin: 0px 10px 0px 0px; }
    h3, .h3 { font-size: 18px;margin: 10px 0 5px; }
    p { font-size: 14px; line-height: 1.20em;}

            </style>
        <body onload="window.print();window.close()">${printContents}</body>
          </html>`
        );
        popupWin.document.close();
    }

</script>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        /*z-index: 1;*/ /* Sit on top */
        padding-top: 5px !important; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-header {
        margin: auto;
        padding: 20px;
        width: 35%;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        text-align: justify;
    }

    /* The Close Button */
    .close {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
        opacity: 1;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: 1;
        }

    .grid-box {
        border: 2px solid black;
        margin-bottom: 5px !important;
    }

    /* Modal Content for summary */
    .modal-content-summary {
        background-color: #fefefe;
        margin: auto;
        padding: 5px !important;
        border: 1px solid #888;
        width: 100%;
        text-align: justify;
    }

    #btncompCancel, #btncompare {
        padding: 5px;
        margin-left: -40px;
    }

    .modal-content-compare {
        background-color: #fefefe;
        margin: auto;
        padding: 0px;
        border: 1px solid #888;
        width: 100%;
        text-align: justify;
    }

    .modal-body-compare {
        position: relative;
        padding: 0px;
    }

    .modal-footer-custom {
        padding: 35px;
        text-align: right;
    }
</style>
<style>
    .wizard-card .disabled {
        display: inherit!important;
    }
    .icheckbox_square-yellow.checked.disabled {
        background-position: -48px 0 !important;
    }
    .iradio_square-yellow.checked.disabled {
        background-position: -168px 0 !important;
    }
    .iradio_square-yellow.disabled {
        background-position: -120px 0 !important;
    }
     .nav-tabs.wizard {
        background-color: transparent;
        padding: 0;
        width: 100.2%;
        margin: 1em auto;
        border-radius: .25em;
        clear: both;
        border-bottom: none;
    }

        .nav-tabs.wizard li {
            width: 100%;
            float: none;
            margin-bottom: 3px;
        }

            .nav-tabs.wizard li > * {
                position: relative;
                padding: 1em .8em .8em 1.5em;
                color: #ffffff;
                background-color: #B4ADA5;
                border-color: #B4ADA5;
            }

            .nav-tabs.wizard li.completed > * {
                color: #fff !important;
                background-color: #96c03d !important;
                border-color: #96c03d !important;
                border-bottom: none !important;
            }

            .nav-tabs.wizard li.active > * {
                color: #fff !important;
                background-color: #4d738a !important;
                border-color: #4d738a !important;
                border-bottom: none !important;
            }

            .nav-tabs.wizard li::after:last-child {
                border: none;
                border-bottom-left-radius: 0px;
            }

        .nav-tabs.wizard > li > a {
            opacity: 1;
            font-size: 14px;
        }

        .nav-tabs.wizard a:hover {
            color: #fff;
            background-color: #4d738a;
            border-color: #4d738a
        }

    span.nmbr {
        display: inline-block;
        padding: 10px 0 0 0;
        background: #ffffff;
        width: 35px;
        line-height: 100%;
        height: 35px;
        margin: auto;
        border-radius: 50%;
        font-weight: bold;
        font-size: 16px;
        color: #555;
        margin-bottom: 10px;
        text-align: center;
    }

    @@media(min-width:992px) {
        .nav-tabs.wizard li {
            position: relative;
            padding: 0;
            /*margin: 4px 4px 4px 0;*/
            width: 16.6%;
            float: left;
            text-align: center;
        }

            .nav-tabs.wizard li.active a {
                padding-top: 15px;
            }

            .nav-tabs.wizard li::after, .nav-tabs.wizard li > ::after {
                content: '';
                position: absolute;
                top: -1px;
                left: 100%;
                height: 0;
                width: 0;
                border: 24px solid transparent;
                border-right-width: 24px;
                border-left-color: transparent;
                border-right-width: 0;
                border-left-width: 20px;
            }

            .nav-tabs.wizard li::after {
                z-index: 1;
                -webkit-transform: translateX(4px);
                -moz-transform: translateX(4px);
                -ms-transform: translateX(4px);
                -o-transform: translateX(4px);
                transform: translateX(4px);
                border-left-color: #fff;
                margin: 0
            }

            .nav-tabs.wizard li > *::after {
                z-index: 2;
                border-left-color: inherit
            }

        .nav-tabs.wizard > li:nth-of-type(1) > a {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .nav-tabs.wizard li:last-child a {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .nav-tabs.wizard li:last-child {
            margin-right: 0;
        }

            .nav-tabs.wizard li:last-child a:after,
            .nav-tabs.wizard li:last-child:after {
                content: "";
                border: none;
            }

        span.nmbr {
            display: block;
        }
    }

    .wizard-card {
        border: groove;
        border-color: black;
    }

    .btn-blue {
        background-color: #B7B0A7;
        color: #fff;
    }

    hr {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border: 0;
        border-top: 1px solid #bebdbd;
    }

    .select-unit {
        background-color: #4d738a !important;
        color: #fff !important;
    }

        .select-unit a {
            color: #fff !important;
        }
</style>
<style>
    .tab-content ul li {
        margin-right: 14px;
        overflow: hidden;
        width: 100% !important;
        padding: 10px;
        text-align: left !important;
        margin-bottom: 10px;
    }
    .wizard-card .disabled {
        display: inherit !important;
    }

    .icheckbox_square-yellow.checked.disabled {
        background-position: -48px 0 !important;
    }
</style>
<script type="text/javascript">


    $(function () {
        var searchMinDate = "-2y";
        var searchMaxDate = "-1m";
        if ((new Date()).getDate() <= 5) {
            searchMaxDate = "-2m";
        }

        var dt = new Date();
        dt.setFullYear(new Date().getFullYear() - 18);
        $("#txtDate").datepicker();
        $("#txtDateOfExpiration").datepicker();




        //$("#txtDateOfIssuance,#txtStartDate,#txtMoveInDateFrom,#txtMoveInDateTo,#txtMoveInDateFrom2,#txtMoveInDateTo2").datepicker({
        //    endDate: "+0d",
        //    autoclose: true,
        //    startDate: '-100y'
        //});

        $('#txtDOB').datepicker({ viewMode: "years", endDate: dt, autoclose: true });
        $('#txtHDateOfBirth').datepicker({ viewMode: "years", endDate: dt, autoclose: true });
        $("#txtPhoneNumber").text(formatPhoneFax("@Model.Phone"));
        $("#txtPhoneNumber").text(formatPhoneFax("@Model.Phone"));
        $("#lblFNLPhone").text(formatPhoneFax("@Model.Phone"));
    });

    $(document).ready(function () {

        $("#apartimg_2").maphilight();

        if (@Model.ProspectId != 0) {


              goToStep(3, 3);

            $("#logintext").text("Logout");

            getPropertyUnitDetails(@Model.PropertyId);
            $("#hndUID").val(@Model.PropertyId);


            if (@Model.IsRentalPolicy=="1") {
                $("#chkRentalPolicy").iCheck('check');
            }
             if (@Model.IsRentalQualification=="1") {
                 $("#chkRentalQual").iCheck('check');

            }


                $("#as2").removeAttr("onclick")
                $("#as2").attr("onclick", "goToStep(2,2)");
                $("#as3").removeAttr("onclick")
                $("#as3").attr("onclick", "goToStep(3,3)");
                $("#as4").removeAttr("onclick")
                $("#as4").attr("onclick", "goToStep(5,5)");


            $("#getting-startedTimeRemainingClock").removeClass("hidden");
            $("#divstep3save").addClass("hidden");
            $("#divstep3").removeClass("hidden");
            getTransationLists(@Model.ID);

            $("#txtCardNumber").text(("*".repeat('@Model.CardNumber'.length - 4) + '@Model.CardNumber'.substr('@Model.CardNumber'.length - 4, 4)));
            setTimeout(function () {
            $("#ddlMarketSource").val('@Model.Marketsource');
            $("#ddlMarketSource").trigger('change');
            }, 2000);
        }


         var fileExistInsurenceDoc = doesFileExist('/Content/assets/img/ChecklistDocument/' + '@Model.InsuranceDoc');
        if (fileExistInsurenceDoc) {
            $("#dwnldPOI").attr('href', '/Content/assets/img/ChecklistDocument/' + '@Model.InsuranceDoc');
            $("#dwnldPOI").attr('download','@Model.InsuranceDoc');
            $("#dwnldPOI").attr('target', '_parent');
            $("#dwnldPOI").html('<i class="fa fa-download"></i>' + ' ' + '@Model.InsuranceDoc');
        }
        else {
            $("#dwnldPOI").attr('href', 'javascript:void(0)');
            $("#dwnldPOI").attr('onclick', 'fileNotFound()');
        }

        var fileExistElectricityDoc = doesFileExist('/Content/assets/img/ChecklistDocument/' + '@Model.ElectricityDoc');
        if (fileExistElectricityDoc) {
            $("#dwnldPOE").attr('href', '/Content/assets/img/ChecklistDocument/' + '@Model.ElectricityDoc');
            $("#dwnldPOE").attr('download','@Model.ElectricityDoc');
            $("#dwnldPOE").attr('target', '_parent');
            $("#dwnldPOE").text('@Model.ElectricityDoc');
        }
        else {
            $("#dwnldPOE").attr('href', 'javascript:void(0)');
            $("#dwnldPOE").attr('onclick', 'fileNotFound()');
            $("#dwnldPOE").html('<i class="fa fa-download"></i>' + ' ' + '@Model.ElectricityDoc');
        }
        $("#lblProrated_AditionalParking").text(parseFloat(parseFloat($("#lblMonthly_AditionalParking").text()) / parseFloat(numberOfDays) * remainingday).toFixed(2));
        $("#lblProrated_Storage").text(parseFloat(parseFloat($("#lblMonthly_Storage").text()) / parseFloat(numberOfDays) * remainingday).toFixed(2));
        $("#lblProrated_PetRent").text(parseFloat(parseFloat($("#lblMonthly_PetRent").text()) / parseFloat(numberOfDays) * remainingday).toFixed(2));
    });

    var fileNotFound = function () {
        $.alert({
            title: "",
            content: "File Not Found.",
            type: 'blue'
        });
    };

    $(function () {
        $('area').click(function () {
            $("#hndSelectedFloor").val($(this).attr("id"));
            $("#hndSelectedAval").val($(this).attr("data-aval"));
            var floorid = $(this).attr("data-floorid");
            $("#dfa_" + floorid).addClass("hidden");
            var isAval = $(this).attr("data-aval");
            var color = "ff6347";
            if (isAval == 1) {
                color = "0af11c";
            }
            else if (isAval == 2) {
                color = "ffff00";
            }
            $('.active_area').data('maphilight', { alwaysOn: false }).trigger('alwaysOn.maphilight');
            $(this).addClass('active_area').data('maphilight', { alwaysOn: true, fillColor: color, strokeColor: color }).trigger('alwaysOn.maphilight');
        });
        $("area").mouseout(function (e) {
            $(".divtooltip").addClass("hidden");
        });

        $("area").mouseover(function (e) {
            var offset = $(this).offset();
            var X = (e.pageX - offset.left);
            var Y = (e.pageY - offset.top);

            console.log("X:" + X + ", Y:" + Y);

            if (Y < 0) {
                Y = Y + 200;
            }
            else {
                Y = Y - 75;
            }

            var floorid = $(this).attr("data-floorid");
            $(".divtooltip").addClass("hidden");
            $("#dfa_" + floorid).removeClass("hidden");

            $("#dfa_" + floorid).css({ top: Y, left: X, position: 'absolute' });

            var isAval = $(this).attr("data-aval");
            var color = "ff6347";
            if (isAval == 1) {
                color = "0af11c";
            }
            else if (isAval == 2) {
                color = "ffff00";
            }
            $(this).addClass('active_mouse').data('maphilight', { alwaysOn: true, fillColor: color, strokeColor: color }).trigger('alwaysOn.maphilight');
            if ($("#hndSelectedFloor").val()) {
                var cont = $("#hndSelectedFloor").val();
                var isAvalFill = $("#hndSelectedAval").val();
                var colorfill = "ff6347";
                if (isAvalFill == 1) {
                    colorfill = "0af11c";
                }
                else if (isAvalFill == 2) {
                    colorfill = "ffff00";
                }
                $("#" + cont).addClass('active_area').data('maphilight', { alwaysOn: true, fillColor: colorfill, strokeColor: colorfill }).trigger('alwaysOn.maphilight');
            }
        });
        $(".buildplan").mouseout(function () {
            $(".buildplan").removeClass('active_mouse').data('maphilight', { alwaysOn: false }).trigger('alwaysOn.maphilight');

            if ($("#hndSelectedFloor").val()) {
                var cont = $("#hndSelectedFloor").val();
                var isAval = $("#hndSelectedAval").val();
                var color = "ff6347";
                if (isAval == 1) {
                    color = "0af11c";
                }
                else if (isAval == 2) {
                    color = "ffff00";
                }
                $("#" + cont).addClass('active_area').data('maphilight', { alwaysOn: true, fillColor: color, strokeColor: color }).trigger('alwaysOn.maphilight');
            }
        });
    });

    var modalPetPolicy = document.getElementById("modalPetPolicy");

    var btnPetPolicy = document.getElementById("btnShowPetPolicy");

    var spanPetPolicy = document.getElementById("closePetP");

    btnPetPolicy.onclick = function () {
        modalPetPolicy.style.display = "block";
    }


    spanPetPolicy.onclick = function () {
        modalPetPolicy.style.display = "none";
    }


    window.onclick = function (event) {
        if (event.target == modalPetPolicy) {
            modalPetPolicy.style.display = "none";
        }
    }


</script>
