@using ShomaRM.Areas.Admin.Models
@model ProspectManagementModel
@{
    ViewBag.Title = "Prospect Details ";
}
<script src="~/Areas/Admin/Content/Pages/ProspectManagement/ProspectManagement.js"></script>
<input type="hidden" id="hndProspectID" value="@Model.PID" />

<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container wizard-card ct-wizard-orange" style="width:80%;">
        <div class="wizard-container ">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <h4 class="">Appointment Detail</h4>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary pull-right" id="btnSaveUpdate" onclick="gotoProspList()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate">Appointment List</span></button>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtAppointmentDate">Appointment Date :</label>
                        <label id="txtAppointmentDate">@(Model.VisitDateTime != null ? Model.VisitDateTime.Value.ToString("MM/dd/yyyy") : "")</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtFirstName">First Name :</label>
                        <label id="txtFirstName">@Model.FirstName</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtLastName">Last Name :</label>
                        <label id="txtLastName">@Model.LastName</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtPhone">Phone Number :</label>
                        <label id="txtPhone">@Model.PhoneNo</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmail">Email :</label>
                        <label id="txtEmail">@Model.EmailId</label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtMessage">Message :</label>
                        <label id="txtMessage">@Model.Message</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ddlAgentAssign" class="star">Sales Agent :</label>
                        <select id="ddlAgentAssign" class="form-control form-control-small"></select>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" onclick="saveupdateProspect()"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .tab-content ul {
        /*background-color: #c7d5c733;*/
    }

        .tab-content ul li {
            margin-right: 22px;
        }

    .nav {
        padding-left: 0;
        list-style: none;
    }

    .tab-content1 ul {
        background-color: #4d738a;
        color: #dfe4e8;
    }

        .tab-content1 ul li a {
            color: #B7B0A7;
        }




    .tab-content.wizard li {
        width: 100%;
        float: none;
        margin-bottom: 0px;
    }

        .tab-content.wizard li > * {
            position: relative;
            padding: 1em .8em .8em 1.5em;
            color: #ffffff;
            background-color: #B4ADA5;
            border-color: #B4ADA5;
        }

        .tab-content.wizard li.completed > * {
            color: #fff !important;
            background-color: #96c03d !important;
            border-color: #96c03d !important;
            border-bottom: none !important;
        }

    .tab-content li.active > * {
        color: #4d738a !important;
        background-color: transparent !important;
        /*border-color: #4d738a !important;*/
        /*border-bottom: none !important;*/
        margin-bottom: 0px;
        border: none !important;
    }

    .tab-content li.active1 > * {
        color: #4d738a !important;
    }
    /*.active1 > a {
            color: #4d738a !important;
            background-color: #ffffff !important;
        }*/


    .tab-content.wizard li::after:last-child {
        border: none;
        border-bottom-left-radius: 0px;
    }

    .tab-content.wizard > li > a {
        opacity: 1;
        font-size: 14px;
    }

    .tab-content.wizard a:hover {
        color: #fff;
        background-color: #4d738a;
        /*border-color: #4d738a*/
    }

    span.nmbr {
        display: inline-block;
        padding: 10px 0 0 0;
        background: #ffffff;
        width: 35px;
        line-height: 100%;
        height: 35px;
        margin: auto;
        border-radius: 50%;
        font-weight: bold;
        font-size: 16px;
        color: #555;
        margin-bottom: 10px;
        text-align: center;
    }

    @@media(min-width:992px) {
        .tab-content.wizard li {
            position: relative;
            padding: 0;
            /*margin: 4px 4px 4px 0;*/
            width: 19.6%;
            float: left;
            text-align: center;
        }

        .nav-tabs {
            border-bottom: none;
        }

            .nav-tabs.wizard li.active a {
                padding-top: 15px;
            }

            .nav-tabs.wizard li.active1 a {
                padding-top: 15px;
            }


            .tab-content.wizard li::after, .nav-tabs.wizard li > ::after {
                content: '';
                position: absolute;
                top: -1px;
                left: 100%;
                height: 0;
                width: 0;
                border: 24px solid transparent;
                border-right-width: 24px;
                border-left-color: transparent;
                border-right-width: 0;
                border-left-width: 20px;
            }

        .tab-content.wizard li::after {
            z-index: 1;
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
            border-left-color: #fff;
            margin: 0
        }

        .tab-content.wizard li > *::after {
            z-index: 2;
            border-left-color: inherit
        }

        .tab-content.wizard > li:nth-of-type(1) > a {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .tab-content.wizard li:last-child a {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .tab-content.wizard li:last-child {
            margin-right: 0;
        }

        .nav-tabs.wizard li:last-child a:after,
        .nav-tabs.wizard li:last-child:after {
            content: "";
            border: none;
        }

        span.nmbr {
            display: block;
        }
    }

    .wizard-card {
        border: groove;
        border-color: black;
    }

    .btn-blue {
        background-color: #4d738a;
        color: #fff;
    }

        .btn-blue:hover {
            background-color: #B7B0A7;
            color: #fff;
        }

    hr {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border: 0;
        border-top: 1px solid #bebdbd;
    }

    .select-unit {
        background-color: #4d738a !important;
        color: #fff !important;
    }

        .select-unit a {
            color: #fff !important;
        }

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px !important;
        margin-top: -1px !important;
    }

    nav > li > a {
        padding: 10px 36px !important;
        outline: none !important;
    }

    .nav-tabs > li > a:hover {
        border-color: none !important;
        outline: none !important;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: #fff !important;
        outline: none !important;
    }

    .main-tab > li > a:hover {
        text-decoration: none !important;
        color: #4D738A !important;
        /*color: #B7B0A7;*/
        /*-webkit-transition: all .8s ease !important;*/
        transition: all .8s ease !important;
    }

    .main-tab > li > a {
        color: #B7B0A7 !important;
        /*outline: 0;
            font-weight: bold;
            -webkit-transition: all .8s ease;
            transition: all .8s ease;*/
    }

    .hov {
        color: #ffffff !important;
    }

        .hov > a {
            color: #ffffff !important;
        }

        .hov:hover {
            background-color: #ffffff;
        }

    .nav-tabs {
        border-bottom: none !important;
    }

    .nact > li.active1 {
        background-color: #fff !important;
        outline: none !important;
    }

    .nact > li > a {
        color: #ffffff !important;
        outline: none !important;
    }

        .nact > li > a:hover {
            color: #B7B0A7 !important;
            outline: none !important;
        }

    .nact > li:hover {
        background-color: #fff !important;
        color: #B7B0A7 !important;
        outline: none !important;
    }

    .nact > li.active1 > a:hover {
        color: #B7B0A7 !important;
        outline: none !important;
        background-color: #fff !important;
    }

    .nact > li.active1:hover {
        background-color: #fff !important;
        outline: none !important;
        color: #B7B0A7 !important;
    }

    p {
        font-size: 11pt;
    }


    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #fff;
        border-right: 2px solid #ddd;
        border-bottom: 0px;
    }

    .affix {
        position: fixed !important;
        background-color: white !important;
        z-index: 777 !important;
        padding-right: 30px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtPhone').text(formatPhoneFax("@Model.PhoneNo"));
       // fillDdlSalesAgent();
       
        $('#ddlAgentAssign').find("option[value=' "+ @Model.AssignAgentID +" ']").attr('selected', true);
       
    });
</script>
