@using ShomaRM.Areas.Admin.Models
@model FOBModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Areas/Admin/Content/Pages/FOB/FOB.js"></script>
<input type="hidden" id="hndStorageID" value="@Model.StorageID" />
<input type="hidden" id="hdnSearchType" value="1" />
<input type="hidden" id="hdnCurrentPage" value="1" />
<div class="container-fluid" style="margin-top:40px; background-color:rgb(249, 249, 249);">
    <div class="row">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <div class="breadcrumb">
                <h4 class="">Add / Edit FOBs  </h4>
            </div>
            <div class="row">

                <div class="form-group clearfix panel">
                    <div class="col-md-7">
                        <div class="form-inline clearfix panel">
                            <div class="form-group col-md-3  padding-5">
                                <label class="control-label" style="padding:0px 5px;">Search FOBs</label>
                            </div>
                            <div class="form-group col-md-3  padding-5">
                                <input type="text" id="txtCriteriaStorage" name="Criteria" class="form-control form-control-small" />
                            </div>
                            <div class="form-group col-md-2 padding-5">
                                <button id="btnSearchStorage" class='btn btn-next btn-primary allignSerchResponsive' name='Search' style="text-transform:uppercase!important; height:34px" onclick="buildPaganationStorageList(1)"><i class="fa fa-search"></i> Search</button>
                                <button id="btnGoToStorage" class="btn btn-success pull-right hidden" style="margin-right:15px;text-transform:uppercase!important;" onclick="goToStorage()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-arrow-circle-o-right"></i> Go to</button>
                            </div>

                        </div>
                        <div class="col-sm-12 form-group" id="divPagination_Storage">
                            <div class="row">
                                <div id="divPgnStorage" class="col-sm-7 pagination" style="margin-top: 22px;">
                                    <ul id="ulPagination_Storage"></ul>
                                </div>
                                <div class="col-sm-4 padding-0 pull-right" style="margin-top: 22px;">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label id="lblRPP_Storage" class="control-label" style="margin-left:6px">Row/Page</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <select id="ddlRPP_Storage" class="form-control form-control-small"></select>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group clearfix">
                            <table id="tblStorage" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableFob('StorageName')">FOBs<i id="SortIconFob"></i></th>
                                        <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableFob('Charges')">Charges<i id="SortIconFobCharge"></i></th>
                                        <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 padding-5">
                            <div class="form-group pull-right clearfix">
                                <button type="button" class="btn btn-primary" id="btnStorage" style="text-transform:uppercase!important" onclick="NewStorage()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-plus"></i> New</button>
                                <button type="button" class="btn btn-primary" id="btnSaveStorage" style="text-transform:uppercase!important" onclick="saveUpdateStorage()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-save"></i> <span id="spanSaveUpdate">Save</span></button>
                            </div>
                        </div>
                        <div class="form-group clearfix padding-5">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="ddlProperty" class="star">Property</label>
                                        <select id="ddlProperty" class="form-control form-control-small"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="txtStorageName" class="star">FOBs</label>
                                        <input class="form-control form-control-small" id="txtStorageName" maxlength="100" type="text" value="@Model.StorageName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="star">Charges</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                            </span>
                                            <input id="txtCharges" class="form-control form-control-small" maxlength="100" value="@(Model.Charges.HasValue?Model.Charges.Value.ToString("N2"):"0.00")" type="text" onkeypress="return isNumber(event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="txtDescription">Description</label>
                                        <textarea class="form-control form-control-small" id="txtDescription">@Model.Description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
@*<div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container" style="width:100% !important">
            <div class="breadcrumb">
                <h4 class="">Add / Edit FOBs  </h4>
            </div>
            <div class="form-group clearfix panel">
                <div class="col-md-7">
                    <div class="form-inline clearfix panel">
                        <div class="form-group col-md-3 padding-5">
                            <label class="control-label" style="padding:0px 5px;">Search FOBs</label>
                        </div>
                        <div class="form-group col-md-3 padding-5">
                            <input type="text" id="txtCriteriaStorage" name="Criteria" class="form-control form-control-small" />
                        </div>
                        <div class="form-group col-md-2 padding-5">
                            <button id="btnSearchStorage" class='btn btn-next btn-primary' name='Search' style="text-transform:uppercase!important;margin-left:-10px; height:34px" onclick="buildPaganationStorageList(1)"><i class="fa fa-search"></i> Search</button>
                            <button id="btnGoToStorage" class="btn btn-success pull-right hidden" style="margin-right:15px;text-transform:uppercase!important;" onclick="goToStorage()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-arrow-circle-o-right"></i> Go to</button>
                        </div>

                    </div>
                    <div class="col-sm-12 form-group" id="divPagination_Storage">
                        <div id="divPgnStorage" class="col-sm-7 pagination">
                            <ul id="ulPagination_Storage"></ul>
                        </div>
                        <div class="col-sm-4 padding-0 pull-right" style="margin-top: 22px;">
                            <div class="col-sm-5">
                                <label  id="lblRPP_Storage" class="control-label" style="margin-left:6px">Row/Page</label>
                            </div>
                            <div class="col-sm-7">
                                <select id="ddlRPP_Storage" class="form-control form-control-small"></select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <table id="tblStorage" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableFob('StorageName')">FOBs<i id="SortIconFob"></i></th>
                                    <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableFob('Charges')">Charges<i id="SortIconFobCharge"></i></th>
                                    <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-12 padding-5">
                        <div class="form-group pull-right clearfix">
                            <button type="button" class="btn btn-primary" id="btnStorage" style="text-transform:uppercase!important" onclick="NewStorage()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-plus"></i> New</button>
                            <button type="button" class="btn btn-primary" id="btnSaveStorage" style="text-transform:uppercase!important" onclick="saveUpdateStorage()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-save"></i> <span id="spanSaveUpdate">Save</span></button>
                        </div>
                    </div>
                    <div class="form-group clearfix padding-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ddlProperty" class="star">Property</label>
                                    <select id="ddlProperty" class="form-control form-control-small"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="txtStorageName" class="star">FOBs</label>
                                    <input class="form-control form-control-small" id="txtStorageName" maxlength="100" type="text" value="@Model.StorageName" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="star">Charges</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                        </span>
                                        <input id="txtCharges" class="form-control form-control-small" maxlength="100" value="@(Model.Charges.HasValue?Model.Charges.Value.ToString("N2"):"0.00")" type="text" onkeypress="return isNumber(event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="txtDescription">Description</label>
                                    <textarea class="form-control form-control-small" id="txtDescription">@Model.Description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<style>
        .k-button {
            line-height: 1.5em !important;
        }

        .gridbtn {
            background-color: #e0e0e0;
            font-size: 12px;
            padding: 3px 4px !important;
        }

        .btn {
            border-radius: 3px;
            padding: 3px 12px;
            font-size: 12px;
        }
    </style>*@
<script>
    $(document).ready(function () {
        setTimeout(function () { $("#ddlProperty").find("option[value='" + @Model.PropertyID + "']").attr('selected', 'selected'); }, 1200);
    });
</script>