@{
    ViewBag.Title = (ViewBag.TenantID == 0 ? "Add" : "Edit") + " Tenant";
    var TenantID = ViewBag.TenantID;
    var pageTitle = (ViewBag.TenantID == 0 ? "Add Tenant" : "Edit Tenant");

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/pages/common.js")"></script>

<script src="~/Areas/Admin/Content/Pages/Tenant/Tenant.js"></script>

<input type="hidden" id="hndTenantID" value="@TenantID" />

@*<input type="hidden" id="hndTenantID" value="@ViewBag.TenantID " />*@
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container" style="width:100%!important">
        <div class="wizard-container">
            <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                <div>
                    <div class="wizard-header">
                        <h3>
                            <b>Tenant </b>Details <br>
                        </h3>
                    </div>
                    <ul>
                     
                        <li class="active" id="li1"><a href="javascript:void(0);" onclick="goToStep(1)">Tenant Details </a></li>
                        <li id="li2"><a href="javascript:void(0);" onclick="goToStep(2,@TenantID)">Lease Details</a></li>
                        <li id="li3"><a href="javascript:void(0);" onclick="goToStep(3)">Account Details </a></li>
                        <li id="li4"><a href="javascript:void(0);" onclick="goToStep(4,0)">Notice </a></li>
                    </ul>
                    <div class="tab-content">

                        <!--  End step 1 -->
                        <div class="" id="step1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text pull-left"> Tenant Information</h4>

                                    <button type="button" class="btn btn-success pull-right" id="btnSaveUpdate" onclick="searchTenant()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate"> Tenant List</span></button>

                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="star">
                                            International Applicant ?
                                        </label>
                                        <div class="form-group">
                                            <select id="ddlIsInter" class="form-control" style="width:100%!important">

                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star">First Name</label>
                                            <input class="form-control form-control-small" id="txtFirstNamePersonal" maxlength="50" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtMiddleInitial">Middle Initial</label>
                                            <input id="txtMiddleInitial" class="form-control form-control-small" maxlength="1" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star">Last Name</label>
                                            <input class="form-control form-control-small" id="txtLastNamePersonal" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtDateOfBirth" class="star">Date of Birth</label>
                                            <input id="txtDateOfBirth" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="ddlGender" class="star">Gender</label>
                                            <select id="ddlGender" class=" form-control" style="width:100%!important">
                                                <option value="0">-Status-</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <input id="txtOtherGender" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4" id="divSSNNumber">
                                        <div class="form-group">
                                            <label id="lblSSNNumber" for="txtSSNNumber" class="star">SSN Number</label>
                                            <input class="form-control form-control-small" id="txtSSNNumber" value="" maxlength="9" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtEmailNew" class="star">Email</label>
                                            <input id="txtEmailNew" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtMobileNumber" class="star">Mobile Number</label>
                                            <input id="txtMobileNumber" class="form-control form-control-small" maxlength="10" type="text" onkeypress="return isOnlyNumber(event)" />
                                        </div>
                                    </div>
                                </div>
                                <div id="passportDiv" class="">
                                    <div class="col-md-12">
                                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Passport Information </h3>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="txtPassportNum" class="star">Passport Number</label>
                                                <input id="txtPassportNum" class="form-control form-control-small" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="txtCOI" class="star">Country Of Issuance</label>
                                                <input id="txtCOI" class="form-control form-control-small" maxlength="30" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="txtDateOfIssuance" class="star">Date of Issuance</label>
                                                <input id="txtDateOfIssuance" class="form-control form-control-small" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="txtDateOfExpiration" class="star">Date of Expiration</label>
                                                <input id="txtDateOfExpiration" class="form-control form-control-small" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Download Passport</label><br />
                                                <span id="downPassport"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Identification </h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ddlDocumentType" class="star">ID Type</label>
                                            <select id="ddlDocumentTypePersonal" class="form-control " style="width:100%!important">
                                                <option value="0">Select</option>
                                                <option value="1">Driver's License</option>
                                                <option value="2">Military ID</option>
                                                <option value="4">State Issued ID</option>
                                                <option value="3">Passport</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label id="lblStatePersonal"> State :</label>
                                            <select id="ddlStatePersonal" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label id="lblIDNumber" for="txtIDNumber" class="star">ID Number</label>
                                            <input class="form-control form-control-small" id="txtIDNumber" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star">Download <span id="lblUploadIdentity"></span></label><br />
                                            <span id="downIdentity"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">History of Residence </h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtCountry" class="star">Country</label>
                                            @*<input id="txtCountry" type="text" class="form-control form-control-small" maxlength="300" />*@
                                            <select id="txtCountry" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtAddress1" class="star">Address Line 1</label>
                                            <input id="txtAddress1" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtAddress2">Address Line 2</label>
                                            <input id="txtAddress2" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star"> State :</label>
                                            <select id="ddlStateHome" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star"> City :</label>
                                            @*<select id="ddlCityHome" class="form-control"></select>*@
                                            <input id="ddlCityHome" type="text" class="form-control form-control-small" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtZip" class="star">Zip</label>
                                            <input class="form-control form-control-small" id="txtZip" maxlength="7" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="ddlRentOwn"> Do you rent or own </label>
                                            <select id="ddlRentOwn" class="form-control form-control-small">
                                                <option value="0">Select</option>
                                                <option value="1">Rent</option>
                                                <option value="2">Own</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="txtMoveInDate" class="star"> Move In Date</label>
                                            <input id="txtMoveInDateFrom" type="text" class="form-control form-control-small" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="txtMoveInDate"> Move Out Date</label>
                                            <input id="txtMoveInDateTo" type="text" class="form-control form-control-small" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="txtMonthlyPayment" class="star"> Monthly Payment </label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                            </span>
                                            <input id="txtMonthlyPayment" class="form-control form-control-small" type="text" onkeypress="return isNumber(event)" />
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="txtReasonforleaving"> Reason for leaving </label>
                                            <input id="txtReasonforleaving" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Employment and Income</h3>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtEmployerName" class="star">Employer Name</label>
                                            <input id="txtEmployerName" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtJobTitle">Job Title</label>
                                            <input id="txtJobTitle" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> Job Type </label>
                                            <select id="ddlJobType" class="form-control form-control-small">
                                                <option value="0">Select</option>
                                                <option value="1">Permanent</option>
                                                <option value="2">Contract Basis</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star">Start Date</label>
                                            <input id="txtStartDate" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="txtAnnualIncome" class="star"> Annual Income </label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                            </span>
                                            <input id="txtAnnualIncome" class="form-control form-control-small" type="text" onkeypress="return isNumber(event)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtAddAnnualIncome"> Additional Annual Income</label>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                </span>
                                                <input id="txtAddAnnualIncome" class="form-control form-control-small" type="text" onkeypress="return isNumber(event)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Supervisor Name</label>
                                            <input id="txtSupervisiorName" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Supervisor Phone</label>
                                            <input id="txtSupervisiorPhone" class="form-control form-control-small" type="text" onkeypress="return isOnlyNumber(event)" maxlength="10" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Supervisor Email</label>
                                            <input id="txtSupervisiorEmail" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <p>Download last 3 paystubs or if self-employed last 2 year's Fedral Tax Returns</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input id="rbtnPaystub" class="form-control form-control-small" type="radio" name="tax" />
                                            <label for="rbtnPaystub">Paystub</label>
                                            <input id="rbtnFedralTax" class="form-control form-control-small" type="radio" name="tax" />
                                            <label for="rbtnFedralTax">Fedral Tax Return</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star" id="lblUpload1">Download 1</label><br />
                                            <span id="downUpload1"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star" id="lblUpload2">Upload 2</label><br />
                                            <span id="downUpload2"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" id="divUpload3">
                                        <div class="form-group">
                                            <label class="star" id="lblUpload3">Upload 3</label><br />
                                            <span id="downUpload3"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtCountryOffice" class="star">Country</label>
                                            @*<input id="txtCountryOffice" type="text" class="form-control form-control-small" maxlength="300" />*@
                                            <select id="txtCountryOffice" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtofficeAddress1" class="star">Address Line 1</label>
                                            <input id="txtofficeAddress1" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtofficeAddress2">Address Line 2</label>
                                            <input id="txtofficeAddress2" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star"> State :</label>
                                            <select id="ddlStateEmployee" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star"> City :</label>
                                            @*<select id="ddlCityEmployee" class="form-control"></select>*@
                                            <input id="ddlCityEmployee" type="text" class="form-control form-control-small" maxlength="100" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtZip" class="star">Zip</label>
                                            <input class="form-control form-control-small" id="txtZipOffice" maxlength="7" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Emergency Contacts </h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star">Relationship</label>
                                            <input id="txtRelationship" class="form-control form-control-small" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtFirstName" class="star">First Name</label>
                                            <input class="form-control form-control-small" id="txtEmergencyFirstName" maxlength="50" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtLastName" class="star">Last Name</label>
                                            <input class="form-control form-control-small" id="txtEmergencyLastName" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="star"> Mobile Number</label>
                                            <input id="txtEmergencyMobile" type="text" class="form-control form-control-small" maxlength="10" onkeypress="return isOnlyNumber(event)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=""> Home Phone Number</label>
                                            <input id="txtEmergencyHomePhone" type="text" class="form-control form-control-small" maxlength="10" onkeypress="return isOnlyNumber(event)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=""> Work Phone Number</label>
                                            <input id="txtEmergencyWorkPhone" type="text" class="form-control form-control-small" maxlength="10" onkeypress="return isOnlyNumber(event)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="star">Email</label>
                                            <input id="txtEmergencyEmail" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtCountry">Country</label>
                                            @*<input id="txtEmergencyCountry" type="text" class="form-control form-control-small" maxlength="300" />*@
                                            <select id="txtEmergencyCountry" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Address Line 1</label>
                                            <input id="txtEmergencyAddress1" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Address Line 2</label>
                                            <input id="txtEmergencyAddress2" type="text" class="form-control form-control-small" maxlength="300" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> State :</label>
                                            <select id="ddlStateContact" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> City :</label>
                                            @*<select id="ddlCityContact" class="form-control"></select>*@
                                            <input id="ddlCityContact" type="text" class="form-control form-control-small" maxlength="100" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="txtZip">Zip</label>
                                            <input class="form-control form-control-small" id="txtEmergencyZip" maxlength="7" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" id="btnnext" onclick="saveupdateTenantOnline()"> Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden" id="step2">
                            <!-- Lease Partial page -->
                        </div>
                        <div class="hidden" id="step3">

                        </div>
                        <div class="hidden" id="step4">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <h3 class="panel-title">From Date</h3>
                                        <input id="txtFromDate" type="text" class="form-control" value="@DateTime.Now.AddDays(-100).ToString("MM/dd/yyyy")">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <h3 class="panel-title">To Date</h3>
                                        <input id="txtToDate" type="text" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                                    </div>
                                </div>

                                <button type="button" class="btn btn-success pull-right" id="btnSaveUpdate" onclick="addNewNotice()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate"> New Notice</span></button>
                                <div class="col-sm-2 padding-top-15">
                                    <button class='btn btn-default ' value='Search' onclick="getNoticeLists()"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                    
                            <div class="col-md-12 clear">

                                <table id="tblNotice" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #c7cdd566;color:#3d3939">Notice ID</th>

                                            <th style="background-color: #c7cdd566;color:#3d3939">Revision No</th>
                                            <th style="background-color: #c7cdd566;color:#3d3939">Notice Date</th>
                                            <th style="background-color: #c7cdd566;color:#3d3939">Termination Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!--  End step 4 -->
                    </div>
             
                </div>
            </div>
            <!-- End submit form -->
        </div>

    </div>
</div>

<script>
    $(function () {

        $("#txtDateOfBirth").datepicker();
        $("#txtDateOfIssuance").datepicker();
        $("#txtDateOfExpiration").datepicker();
        $("#txtMoveInDate").datepicker();
        $("#txtStartDate").datepicker();

    });

    $(document).ready(function () {

    })
</script>

