@using ShomaRM.Areas.Admin.Models
@model PropertyManagementModel
@{
    ViewBag.Title = "Submit new property ";
}
<script src="~/Areas/Admin/Content/Pages/PropertyManagement/Property.js?v=@AdminCommonModel.ScriptVersion()"></script>
<input type="hidden" id="hndPID" value="@Model.PID" />
<input type="hidden" id="hdnCurrentPage_PU" value="1" />
<input type="hidden" id="hdnFloorPlan" value="" />
<input type="hidden" id="hdnFloorCords" value="" />
<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container" style="width:100%!important">
        <div class="wizard-container">
            <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                <div>
                    <div class="wizard-header">
                        <h3>
                            <b>Add </b>PROPERTY <br>
                        </h3>
                    </div>
                    <ul class="nav nav-tabs wizard nav-pills">
                        <li class="active" id="li1"><a href="javascript:void(0);"  onclick="goToStep(1)">Property Details </a></li>
                        <li id="li2"><a href="javascript:void(0);"   onclick="goToStep(2)">Floor Details</a></li>
                        <li id="li3"><a href="javascript:void(0);"  onclick="goToStep(3)">Models </a></li>
                        @*<li id="li4"><a href="javascript:void(0);"  onclick="goToStep(4,0)">ADD Model </a></li>*@
                        <li id="li5"><a href="javascript:void(0);" onclick="goToStep(5)">Units </a></li>
                        <li id="li7"><a href="javascript:void(0);" onclick="goToStep(7)">Unit Lease Wise Price </a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="" id="step1">
                            <div class="row p-b-15  ">
                                <div class="col-sm-12">
                                    <h4 class="info-text pull-left"> Let's start with the basic information</h4>
                                    @*<button type="button" class="btn btn-success  pull-right" id="btnSaveUpdate" onclick="gotoPropList()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-align-center"></i> <span id="spanSaveUpdate">Property List</span></button>*@
                                    <div class="pull-right" style="padding-right:2px;">
                                        <button type='button' class='btn btn-success ' value='Save' onclick="SaveUpdateProperty()"><i class="fa fa-save"></i> SAVE</button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="picture-container">
                                        <div class="picture" style="height:auto!important">
                                            <img src="/content/assets/img/demo/@Model.Picture" class="picture-src" id="wizardPicturePreview" title="@Model.Title" />
                                            <input type="file" id="wizard-picture" value="@Model.Picture">
                                            <input type="hidden" id="hndFileUploadPropertyPicture" value="" />
                                            <input type="hidden" id="hndOriginalFileUploadPropertyPicture" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="star">Property Name</label>
                                                <input name="propertyname" id="txtPropTitle" type="text" class="form-control" placeholder="Super villa ..." value="@Model.Title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Property Units</label>
                                                <input id="txtUnits" type="text" class="form-control" placeholder="3330000" value="@Model.NoOfUnits">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">No. of Floors :</label>
                                                <input id="txtNoOfFloor" type="text" class="form-control" placeholder="8" onkeypress="return isOnlyNumber(event)" value="@Model.NoOfFloors">

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Built In:</label>
                                                <select id="ddlBuiltIn" class="form-control">
                                                    <option value="0">Year</option>
                                                    @for (int i = 2000; i <= DateTime.Now.Year; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Status :</label>
                                                <select id="ddlStatus" class="form-control">
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">

                                            <div class="form-group">
                                                <label class="star">Application Fees</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtApplicationFees" class="form-control form-control-small" value="@Model.ApplicationFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Admin Fees</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtAdminFees" class="form-control form-control-small" value="@Model.AdminFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Guarantor Fees</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtGuarantorFees" class="form-control form-control-small" value="@Model.GuarantorFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Pest Control Fees</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtPestControlFees" class="form-control form-control-small" value="@Model.PestControlFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Trash Fees</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtTrashFees" class="form-control form-control-small" value="@Model.TrashFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Convergent Bill Fees</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtConversionBill" class="form-control form-control-small" value="@Model.ConversionBillFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">DNA Pet Fee</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtDNAPetFee" class="form-control form-control-small" value="@Model.DNAPetFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Processing Fee</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary search" type="button"><i class="fa-dollar fa"></i></button>
                                                    </span>
                                                    <input id="txtProcessingFee" class="form-control form-control-small" value="@Model.ProcessingFees" type="text" onkeypress="return isNumber(event)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Pet Policy PDF</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Upload Pet Policy</label><br />
                                                <input type="file" name="fileUploadPetPolicy" id="fileUploadPetPolicy" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" />
                                                <label for="fileUploadPetPolicy"><i class="fa fa-upload fa-2x"></i> <span id="fileUploadPetPolicyShow">Choose a file&hellip;</span></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Download Pet Policy</label><br />
                                                <a id="fileDownloadPetPolicy" href="~/Content/assets/img/Document/Pet_Policies.pdf" target="_blank" download="Pet_Policies.pdf" class="btn btn-primary"><i class="fa fa-download fa-2x"></i> <span style="text-transform:lowercase">Download a file&hellip;</span></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="star">Property Address :</label>
                                                <textarea name="address" id="txtAddress" class="form-control">@Model.Location</textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 hidden">
                                            <div class="form-group">
                                                <label>Parking</label>
                                                <input id="txtParking" type="text" class="form-control" value="@Model.Parking">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 hidden">
                                            <div class="form-group">
                                                <label>Waterfront</label>
                                                <input id="txtWaterfront" type="text" class="form-control" value="@Model.Waterfront">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12 hidden">
                                    <h4 class="info-text pull-left"> How much your Property is Beautiful ? </h4>
                                </div>

                                <div class="row hidden">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="star">Property Description :</label>
                                                <textarea name="discrition" id="txtDesc" class="form-control">@Model.Description</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Property State :</label>
                                                <select id="ddlState" class="  form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="star">Property City :</label>
                                                <select id="ddlCity" class="  form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="property-video">Property video :</label>
                                                <input class="form-control" id="txtYouTube" value="@Model.YouTube" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Google Location :</label>
                                                <textarea name="address" id="txtLocationGoogle" class="form-control">@Model.LocationGoogle</textarea>
                                            </div>
                                        </div>
                                    </div>



                                    <br>
                                </div>
                                <div class="col-sm-12 hidden">
                                    <h4 class="info-text pull-left">Select Amenities </h4>
                                </div>
                                <div class="row hidden">
                                    <div class="col-sm-12 padding-top-15" id="tblAminities">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" hidden" id="step2">
                            <div class="row p-b-15  ">
                                <div class="col-sm-12">
                                    <h4 class="info-text pull-left"> Floor Coordinates</h4>

                                </div>
                                <div class="col-md-12 clear">
                                    <div class="col-sm-8">
                                        <div>
                                            <img src="/content/assets/img/demo/@Model.Picture" usemap="#apartment_2" id="cordi_img" onclick="getCord(event,this)">
                                            <map name="apartment_2" id="floorImgdiv">
                                                @foreach (var lstcord in Model.lstPropertyFloor)
                                                {
                                                    <area id="fa_@lstcord.FloorNo" shape="poly" class="tooltip" title="Floor-@lstcord.FloorNo" href="javascript:void(0);" coords="@lstcord.Coordinates" data-floorid="@lstcord.FloorID" data-floorplan="@lstcord.FloorPlan">
                                                    <span class="tooltip-text" style="display: none">@lstcord.FloorNo</span>
                                                }
                                            </map>
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="star">Floors No. :</label>
                                            <select id="ddlFloorList" class="form-control"></select>
                                        </div>
                                        <div id="divCord">
                                            <textarea class="form-control" id="txtcord"></textarea>
                                        </div>
                                        @*<div>
                            <label>Upload Floor Plan :</label>
                            <div class="picture-container">
                                <input type="file" width="100" id="UnitPlan-picture">
                            </div>
                        </div>*@
                                        <div class="form-group">
                                            <label class="star">Upload Floor Plan :</label><br />
                                            <input type="file" name="UnitPlan-picture" id="UnitPlan-picture" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" />
                                            <label for="UnitPlan-picture"><i class="fa fa-upload fa-2x"></i> <span id="fileUploadFloorDetailsShow1">Choose a file&hellip;</span></label>

                                        </div>
                                        <div class="pull-left">
                                            <button class='btn btn-danger' onclick="resetcords()">Reset</button>
                                            <button class='btn btn-success' onclick="viewcords()">View</button>
                                            <button class='btn btn-success' onclick="restorecords()">Restore</button>
                                        </div>
                                        <div class="pull-right">

                                            <button type='button' class='btn btn-success ' style="width:120px;" onclick="saveUpdateFloor()"><i class="glyphicon glyphicon-plus-sign"></i> Add Floor</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="hidden" id="step3">
                            <div class="row p-b-15">
                                <div class="col-sm-12">
                                    <h4 class="info-text pull-left">Models</h4>
                                    <button type="button" class="btn btn-success pull-right" onclick="goToStep(4,0)"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate">NEW</span></button>

                                </div>
                                <div class="col-md-12 clear">
                                    <table id="tblModels" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%; text-align:center !important;">
                                        <thead>
                                            <tr>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Floor Plan</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Name</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Interior SF</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Balcony SF</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Area SF</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Rent Range</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Bedroom</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939;text-align:center !important;">Bathroom</th>
                                                <th style="background-color: #c7cdd5;color:#3d3939; padding:10px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="hidden" id="step4">

                        </div>
                        <div class="hidden" id="step5">
                            <div class="row p-b-15  ">
                                <div class="col-sm-12">
                                    <div class="pull-right text-center">
                                        <button id="quotePrint" class="btn btn-primary" onclick="print('printable')"> Print</button>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="printable" style="overflow: hidden !important;">
                                    <p>
                                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                            <div class="panel-heading center">
                                                <h3 class="panel-title">Quotation</h3>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 clear">
                                            <div class="col-sm-5">
                                                <div class="col-sm-6">
                                                    <span>QUOTE DATE : </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblFNLQuoteDate" style="text-decoration:underline;font-weight:bold;">@(Model.CreatedDate!=null? Model.CreatedDate.Value.ToString("MM/dd/yyyy hh:mm tt"):"")</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="col-sm-6">
                                                    <span>PREPARED FOR (RESIDENT NAME) : </span>
                                                </div>
                                                <div class="col-sm-6 margin-RN">
                                                    <span id="lblFNLResidentName1" style="text-decoration:underline;font-weight:bold;">@Model.FirstName @Model.LastName</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear">
                                            <div class="col-sm-5">
                                                <div class="col-sm-6">
                                                    <span>QUOTE EXPIRES : </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblFNLQuoteExpires" style="text-decoration:underline;font-weight:bold;">@Model.ExpireDate</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="col-sm-2">
                                                    <span>PHONE : </span>
                                                </div>
                                                <div class="col-sm-3 margin-left-0">
                                                    <span id="lblFNLPhone" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span>EMAIL : </span>
                                                </div>
                                                <div class="col-sm-6 margin-left-0">
                                                    <span id="lblFNLEmail" style="text-decoration:underline;font-weight:bold;">@Model.Email</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear">
                                            <div class="col-sm-5">
                                                <div class="col-sm-6">
                                                    <span>DESIRED MOVE IN : </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblFNLDesiredMoveIn" style="text-decoration:underline;font-weight:bold;">@Model.MoveInDateTxt</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="col-sm-2">
                                                    <span>UNIT# : </span>
                                                </div>
                                                <div class="col-sm-3 margin-left-0">
                                                    <span id="lblFNLUnit" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span>MODEL : </span>
                                                </div>
                                                <div class="col-sm-6 margin-left-0">
                                                    <span id="lblFNLModel" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear">
                                            <div class="col-sm-5">
                                                <div class="col-sm-6">
                                                    <span>LEASE TERM : </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblFNLTerm" style="text-decoration:underline;font-weight:bold;">@Model.LeaseTerm</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="col-sm-5">
                                                    <span>ASSIGNED PARKING SPACE :  </span>
                                                </div>
                                                <div class="col-sm-7 margin-left-0">
                                                    <span id="lblAssginPakingSpace" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear">
                                            <div class="col-sm-8">
                                                <div class="col-sm-3">

                                                </div>
                                                <div class="col-sm-9">

                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear">&nbsp;</div>
                                        <div class="col-sm-12 clear">
                                            <div class="col-sm-6">
                                                <div class="col-sm-5">
                                                    <span style="text-decoration:underline;font-weight:bold;">INITIAL FEES :</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;">Amount</span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span>APPLICATION FEE : </span>

                                                        </div>
                                                        <div class="col-sm-7">
                                                            $<span id="lblFNLApplicationFee" style="text-decoration:underline;font-weight:bold;">@((Model.ApplicationFees ?? 0).ToString("0.00"))/per applicant</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <span id="" style="text-decoration:underline;font-weight:bold;">$150.00/Guarantor (if needed)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span>ADMINISTRATION FEE: </span>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <span style="text-decoration:underline;font-weight:bold;">$@((Model.AdminFees ?? 0).ToString("0.00"))/unit</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="col-sm-5">
                                                    <span style="text-decoration:underline;font-weight:bold;">MOVE-IN FEES:</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;">Amount</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span>Security Deposit (Refundable): </span>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            $<span style="text-decoration:underline;font-weight:bold;" id="fdepo">@((Model.Deposit ?? 0).ToString("0.00"))</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span> Pet Non-Refundable Deposit: </span>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            $<span style="text-decoration:underline;font-weight:bold;" id="fpetd">@((Model.PetDeposit ?? 0).ToString("0.00"))</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span id="spanPetDNAFee2">Pet DNA Fee:</span>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            $<span style="text-decoration:underline;font-weight:bold;" id="fpetdna">@((Model.PetDNAAmt ?? 0).ToString("0.00"))</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span>Vehicle Registration: </span>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            $<span style="text-decoration:underline;font-weight:bold;" id="lblVehicleFees">@((Model.VehicleRegistration ?? 0).ToString("0.00"))</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <span>Insurance*** </span>
                                                        </div>
                                                        <div class="col-sm-7">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="col-sm-4">
                                                <span style="text-decoration:underline;font-weight:bold;">MONTHLY CHARGES:</span>
                                            </div>
                                            <div class="col-sm-1">

                                            </div>
                                            <div class="col-sm-3">

                                                <span style="text-decoration:underline;font-weight:bold;">Monthly</span>
                                            </div>
                                            <div class="col-sm-3">

                                                <span style="text-decoration:underline;font-weight:bold;">Prorated</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Monthly Rent </span>

                                                </div>

                                                <div class="col-sm-2">&nbsp;</div>
                                                <div class="col-sm-3">
                                                    $<span id="lblMonthly_MonthlyCharge" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_MonthlyCharge" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span><i> Additional Services </i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Trash/Recycle </span>

                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;">&nbsp;</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $<span style="text-decoration:underline;font-weight:bold;">@((Model.TrashAmt ?? 0).ToString("0.00"))</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_TrashAmt" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Pest Control </span>

                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;">&nbsp;</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $<span style="text-decoration:underline;font-weight:bold;">@((Model.PestAmt ?? 0).ToString("0.00"))</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_PestAmt" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Convergent billing fee </span>

                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;">&nbsp;</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $<span style="text-decoration:underline;font-weight:bold;">@((Model.ConvergentAmt ?? 0).ToString("0.00"))</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_ConvergentAmt" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span><i> Selected Options </i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Aditional Parking </span>

                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;" id="parkUnit"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $<span id="lblMonthly_AditionalParking" style="text-decoration:underline;font-weight:bold;">@((Model.ParkingAmt ?? 0).ToString("0.00"))</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_AditionalParking" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Storage </span>

                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;" id="storUnit"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $<span id="lblMonthly_Storage" style="text-decoration:underline;font-weight:bold;">@((Model.StorageAmt ?? 0).ToString("0.00"))</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_Storage" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <span> Pet Fee </span>

                                                </div>
                                                <div class="col-sm-2">
                                                    <span style="text-decoration:underline;font-weight:bold;">&nbsp;</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $<span id="lblMonthly_PetRent" style="text-decoration:underline;font-weight:bold;">@((Model.PetPlaceAmt ?? 0).ToString("0.00"))</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    $ <span id="lblProrated_PetRent" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="col-sm-4"></div>
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-3"><hr></div>
                                                <div class="col-sm-3"><hr></div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <span> Estimated Monthly Charges </span>
                                                </div>
                                                <div class="col-sm-1">
                                                    <span style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                                <div class="col-sm-3" style="color:green">
                                                    $<span id="lblMonthly_TotalRent" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                                <div class="col-sm-3" style="color:green">
                                                    $ <span id="lblProrated_TotalRent" style="text-decoration:underline;font-weight:bold;"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-4"></div>
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-3"><hr></div>
                                                <div class="col-sm-3"><hr></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="move"> Move-in fees and pro-rated rent is due at or before move-in.</div>

                                        </div>
                                        <div class="col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                    <p>
                                        <i>
                                            *The Administration fee is due to reserve your apartment for a maximum of 30 days, once approved, and may be applied towards your Initial Payment.
                                            <br />**The Security Deposit may be bonded with a third-party company.  Please contact by phone (866) 312-3090 or e-mail SelectDeposit@Assurant.com. The Client Support Team is available Monday  Friday 9am  6pm ET to assist you.
                                        </i>
                                    </p>
                                    <p>
                                        <i>
                                            ***General liability insurance with a minimum limit of $100,000 is required. Proof of coverage will be required prior to move-in.
                                            <br />****Excludes the Utility reimbursement for water & sewer which is billed monthly based on actual consumption.
                                        </i>
                                    </p>
                                    <p>
                                        <i>
                                            The amounts herein are estimates based upon policies and rates in effect at the time.  The amounts are subject to change without notice and not final until lease is executed. If you make changes to the desired move-in date, lease term, or any other options, the amounts herein may vary.

                                        </i>
                                    </p>
                                </div>

                                </p>
                            </div>

                            <div class="col-sm-12 clearfix">
                                <br />
                            </div>
                            <div class="col-sm-12">
                                <div class="pull-left text-center">
                                    <button type="submit" class="btn btn-primary" onclick="goToStep(4,4)"> Back</button>
                                </div>
                                <div class="pull-right text-center">
                                    <button type="submit" class="btn btn-primary" id="btnnext" onclick="goToStep(7,7)"> Continue</button>
                                </div>
                            </div>
                        </div>
                        <div class="hidden" id="step6">

                        </div>
                        <div class="hidden" id="step7" >
                            <div class="row p-b-15  ">
                                <div class="col-sm-12">
                                    <h4 class="info-text pull-left">Units Lease Wise Price</h4>
                                    <input type="hidden" id="hndULWPPageNumber" value="1" />
                                    <input type="hidden" id="hndULWPSortBy" value="UnitNo" />
                                    <input type="hidden" id="hndULWPOrderBy" value="ASC" />
                                    <button type="button" class="btn btn-primary pull-right" id="btnULWPPrint" style="margin-bottom:10px !important;margin-left:10px !important;" onclick="printUnitLeaseWisePriceList('UnitLeaseWiseListPrint')">Print</button>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div id="divPgn" class="col-sm-8 pagination">
                                        <ul id="ulPagination_ULWPList"></ul>
                                    </div>
                                    <div class="col-sm-3 padding-0 pull-right">
                                        <div class="col-sm-6">
                                            <label class="control-label">Row/Page</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="ddlRPP_ULWPList" class="form-control form-control-small">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="75">75</option>
                                                <option value="100">100</option>
                                                <option value="100000">ALL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 clear" id="UnitLeaseWiseListPrint">
                                    <input type="hidden" id="hndLockUnlock" value="1" />
                                    <button id="btnLockUnLock" class="btn btn-primary pull-right" onclick="setlockunlock()"><span id="spanLockUnLock"><i class="fa fa-lock"></i> Unlock</span></button>
                                </div>
                                <div class="col-md-12 clear" id="UnitLeaseWiseListPrint">
                                    <table id="tblUnitLeaseWisePriceList" class="table-bordered" width="100%" style="text-align:center">
                                        <thead>
                                            <tr>
                                                @foreach (var ulph in Model.lstUnitLeasePriceHeader)
            {
                                                    <th style="background-color: #c7cdd5;color:#3d3939; width:@ulph.Width%; @if (ulph.HasSorting == "1") {<text>cursor:pointer!important;</text>}" class='text-center' @if (ulph.HasSorting == "1") { <text> onclick='sortUnitLeaseWisePrice("@ulph.SortName")' </text> }>@ulph.HeaderName <span id="sn_@ulph.SortName" class="sortcolumn">@if (ulph.DefaultSort == "1")
            {<text><i class="fa fa-sort-asc"></i></text>}</span></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- End submit form -->
        </div>

    </div>
</div>
<div class="modal fade" id="ModelNotes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-compare">

            <div class="modal-body-compare">
                <button type="button" class="close" data-dismiss="modal" style="margin-top: -25px; margin-right: -15px;">&times;</button>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Enter Notes..</label>
                        <textarea id="txtNotes" type="text" class="form-control"  placeholder="Enter Notes"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default">Print</button>*@
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //getPropertyUnitList(@Model.PID);

        $("#ddlBuiltIn").val(@Model.BuiltIn);
        $("#ddlBuiltIn").trigger('change');
        $("#ddlStatus").val(@Model.Status);
        $("#ddlStatus").trigger('change');
       setTimeout(function ()
       {
        $("#ddlState").val(@Model.State);
        $("#ddlState").trigger('change');

        }, 1200);
         setTimeout(function ()
       {

        $("#ddlCity").val(@Model.City);
        $("#ddlCity").trigger('change');
        setAddAmenity("@Model.Amenities");
        }, 1600);

      

    });
    var setAddAmenity = function (aid) {
        var array = [];
        var amtArray = [];
        if (aid.toString().indexOf(',') > -1) {
            array = aid.split(',')
        } else {
            array.push(aid);
        }
        $.each(array, function (i) {
            $("#chkAmenity" + array[i]).prop("checked", true);
           // $.uniform.update("#chkAmenity" + array[i]);
            amtArray.push(parseFloat(array[i]));

        });
    }
</script>
<script src="~/Content/assets/js/jquery.maphilight.js"></script>

<script type="text/javascript">
    function printUnitList(divName) {
        let printContents, popupWin;
        printContents = document.getElementById(divName).innerHTML;
        popupWin = window.open('', '', 'width=950,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');
        popupWin.document.open();
        popupWin.document.write(printContents);
        popupWin.window.print();
        popupWin.document.close();
    }
    function printUnitLeaseWisePriceList(divName) {
        let printContents, popupWin;
        printContents = document.getElementById(divName).innerHTML;
        popupWin = window.open('', '', 'width=950,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');
        popupWin.document.open();
        popupWin.document.write(printContents);
        popupWin.window.print();
        popupWin.document.close();
    }
    $(document).ready(function () {
        $('.map').maphilight();
        $("#cordi_img").maphilight();
        $("#apartimg_2").maphilight();

        $('#cordi_img').click(function (e) {

            var offset = $(this).offset();
            var X = (e.pageX - offset.left);
            var Y = (e.pageY - offset.top);
        
            $('#txtcord').append(X + ',' + Y + ',');
        });
    });

    $("area").mouseover(function () {
        var noffloor = $("#txtNoOfFloor").val();
        $("#hdnFloorPlan").val("");
        $("#txtcord").remove();
        var cordd = "  <textarea class='form-control'id='txtcord'></textarea>";
        $("#divCord").append(cordd);
        $("#fileUploadFloorDetailsShow1").html("Choose a file &hellip");
        if ($("#ddlFloorList").val() != 0) {
            for (var i = 1; i <= noffloor; i++) {
                if ($("#fa_" + i).length) {
                    {
                        $("#fa_" + i).removeClass('active_mouse').data('maphilight', { alwaysOn: false }).trigger('alwaysOn.maphilight');
                    }
                }
            }
            var cont = $("#ddlFloorList").val();
            if ($("#fa_" + cont).length) {
                $("#fa_" + cont).addClass('active_area').data('maphilight', { alwaysOn: true, fillColor: 'FF6347', strokeColor: 'FF6347', }).trigger('alwaysOn.maphilight');
                $("#txtcord").text($("#fa_" + cont).attr("coords"));
            }
            $("#hdnFloorPlan").val($("#fa_" + cont).data("floorplan"));
            $("#fileUploadFloorDetailsShow1").text($("#fa_" + cont).data("floorplan"));

        }
        else {
            $(this).addClass('active_mouse').data('maphilight', { alwaysOn: true, fillColor: 'FF6347', strokeColor: 'FF6347', }).trigger('alwaysOn.maphilight');
        }
    });
    var resetcords = function () {
        if ($("#ddlFloorList").val()==0) {
            $.alert({
                title: 'Alert!',
                content: "Select Floor No.",
                type: 'red'
            });
            return;
        }
        $("#txtcord").remove();
        var cordd = "  <textarea class='form-control'id='txtcord'></textarea>";
        $("#divCord").append(cordd);
        $("#fa_" + $("#ddlFloorList").val()).attr("coords", "");
        $("#fa_" + $("#ddlFloorList").val()).removeClass('active_mouse').data('maphilight', { alwaysOn: false }).trigger('alwaysOn.maphilight');
    }

    var viewcords = function () {
        if ($("#txtcord").val()) {
            $("#fa_" + $("#ddlFloorList").val()).removeClass('active_mouse').data('maphilight', { alwaysOn: false }).trigger('alwaysOn.maphilight');
            $("#fa_" + $("#ddlFloorList").val()).attr("coords", $("#txtcord").val());
            $("#fa_" + $("#ddlFloorList").val()).addClass('active_area').data('maphilight', { alwaysOn: true, fillColor: 'FF6347', strokeColor: 'FF6347', }).trigger('alwaysOn.maphilight');
        } else {
            $.alert({
                title: 'Alert!',
                content: "Select co-ordinates to view",
                type: 'red'
            });
            return;
        }
    }

    var restorecords = function () {
        if (($("#hdnFloorCords").val().trim())) {
            $("#txtcord").remove();
            var cordd = "  <textarea class='form-control'id='txtcord'></textarea>";
            $("#divCord").append(cordd);
            $("#fa_" + $("#ddlFloorList").val()).attr("coords", $("#hdnFloorCords").val());
            $("#fa_" + $("#ddlFloorList").val()).addClass('active_area').data('maphilight', { alwaysOn: true, fillColor: 'FF6347', strokeColor: 'FF6347', }).trigger('alwaysOn.maphilight');
            $("#txtcord").val($("#hdnFloorCords").val());
        }
    }

    var getCord = function (e, cont) {
        
        var offset = $(cont).offset();
        var X = (e.pageX - offset.left);
        var Y = (e.pageY - offset.top);
        $('#txtcord').append(X + ',' + Y + ',');

    }
</script>
<style>
     input {
        width: 2%;
    }
 
    .btn-default {
        width: 100%;
    }
    #UnitPlan-picture  {
        width: 100%;
    }
    .nav-pills > li > a {
        border-color: black;
        background-color: #B4ADA5;
    }
    .select-unit {
        background-color: #4d738a !important;
        color: #fff !important;
    }

        .select-unit a {
            color: #fff !important;
        }

    .modal-content-compare {
        background-color: #fefefe;
        margin: auto;
        margin-top:250px;
        padding: 0px;
        border: 1px solid #888;
        width: 50%;
        text-align: justify;
    }
    .move {
        margin-top: 7px;
        margin-left: -167px;
        border: 1px solid #000;
        padding: 15px 11px;
        min-width: 210px;
        max-width: 365px;
        padding: 0px 15px;
    }
</style>
